html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  font-family: "Noto Serif JP", sans-serif;
}

header {
  background-color: rgb(235, 214, 136);
}

h1 {
  text-transform: uppercase;
  font-size: 1.9rem;
  margin-top: 25px;
  max-width: 660px;
  font-weight: 800;
  letter-spacing: 1px;
}

header p {
  color: black;
  max-width: 700px;
  line-height: 25px;
  margin-bottom: 30px;
}

.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Open Sans", sans-serif;
}
